<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzbp0snxf0zdwu0Kw0aSizEDnWw3lSP2M</string>
	<key>GCM_SENDER_ID</key>
	<string>356261020300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernlogintute</string>
	<key>PROJECT_ID</key>
	<string>sesalon-42af0</string>
	<key>STORAGE_BUCKET</key>
	<string>sesalon-42af0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356261020300:ios:d770561e6d4e53854631a9</string>
</dict>
</plist>